{{ define "create" }}
{{ template "header" }}
<h1>Новое объявление</h1>
<form action="/save_ad" method="POST">
    <input type="text" name="name" id="Name"> name<br>
    <textarea name="description" id="Description" cols="50" rows="10"></textarea><br>
    <input name="main_photo" id="Photo1"> main_photo</main><br>
    <input name="photo1" id="Photo2">photo1<br>
    <input name="photo2" id="Photo3">photo2<br>
    <input name="price" id="Name">price<br>
    <button>Добавить</button>
</form>
{{ template "footer" }}
{{ end }}